# Ignore sensitive keys
.env

# Ignore Student Photos (Privacy)
**/dataset/
**/intruders/

# Ignore local logs and data
logs/*.csv
*.xlsx

# Ignore Python's temporary processing files
__pycache__/
*.pyc
.DS_Store

# Ignore Virtual Environments
venv/
env/